<section id="home" class="home">
  <div class="content">
    <h1 class="primary">There are endless combinations of coffee that could be drank</h1>
    <h3 class="sub"><span>It’s always up to us to find the right one.</span> You know how to make a simple cup of coffee, but what about a Vietnamese Cha Phe Sua Da? And do you know the difference between a macchiato and a cappuccino?</h3>
    <%= link_to signup_path do %>
      <button>Sign up</button>
    <% end %>
  </div>
  <div class="image">
    <%= image_tag "hero.svg", style: 'height:100%;width:100%;' %>
  </div>
</section>