<section id="about" class="about">
  <div class="section-header">About Us</div>
  <div class="content">
    <h3>Admin</h3>
    <h4>Username: admin@test.com</h4>
    <h4>Password: 123456</h4>
    <h3>User 1</h3>
    <h4>Username: user1@test.com</h4>
    <h4>Password: 123456</h4>
  </div>

</section>