<h1>Menu</h1>
<ul>
  <% @menus.each do |menu| %>
    <li>
      <a href="<%= menu_path(menu) %>"><%= menu.title%></a>
    </li>
    <li>
      <%= menu.description%>
    </li>
    <li>
      <%= menu.price%>
    </li>
  <% end %>
</ul>