.menu {
  .menu-header {
    font-size: 3rem;
  }
  .menu-content {
    margin-top: 3rem;
    .menu-card {
      border: var(--yellow) 1px solid;
      .title {
        font-size: 2rem;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        letter-spacing: 0.1rem;
      }

      .description {
        font-size: 1rem;
        text-transform: capitalize;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        font-style: italic;
        letter-spacing: 0.1rem;
      }
      .description::before {
        content: open-quote;
      }
      .description::after {
        content: close-quote;
      }

      .price {
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        font-style: normal;
      }
    }
  }
}