<div class="section">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
    </tr>
    <% @contact_u.each do |c| %>
    <tr>
      <td><%= c.name %> </td>
      <td><%= c.email %> </td>
      <td><%= c.message %> </td>
    </tr>
    <% end %>
  
  </table>

</div>  
