<div class="form">
<%= form_with(model: @user) do |form| %>
  <%= render 'shared/error_messages' %>

  <div>
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :contact, style: "display: block" %>
    <%= form.text_field :contact %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label "Confirmation", style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="action">
    <%= form.submit do %>
      <button class="button">Sign Up</button>
    <% end %>
  </div>
<% end %>

</div>
