.menu {
  .menu-header {
    text-align: center;
  }

  .menu-content {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    .menu-card {
      border: #000 1px solid;
      height: 30rem;
      width: 25rem;
      padding: 1rem;
      .title {
        text-align: center;
        margin-top: 1rem;
      }

      .description {
        text-align: center;
        margin-top: 1rem;
      }

      .price {
        text-align: center;
        margin-top: 1rem;
      }

      .card-btn {
        margin: auto;
        width: 50%;
        margin-top: 2rem;
      }
    }
  }
}