.header{
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar {
    width: 50%;
    a {
      margin-left: 1rem;
    }
  }
}