:root {
  --yellow:#f9a826;
  --green: rgb(102, 235, 26);
  --cancel: rgba(248, 9, 9, 0.911);
  --blue:#130f40;
  --white:#fff;
  --light-gray:#666;
  --bg-menu:#ddd8d8;
  --border:.1rem solid rgba(0,0,0,.2);
  --box-shadow:0 1rem 1rem rgba(0,0,0,.05);
  --header_size: 5rem;
}