.button {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 0.2rem;
  color: var(--white);
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  height: 3rem;
  width: 10rem;
}
.login {
  border: 1px solid var(--yellow);
  border-radius: 0.2rem;
  color: var(--white);
  width: 8rem;
  height: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  background-color: var(--yellow);
  cursor: pointer;
}

