<div class="form menu-form">
<%= form_with model: [:admin, @menu] do |form| %>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @menu.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% @menu.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :price %><br>
    <%= form.number_field :price %>
    <% @menu.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %><br>
  </div>
<% end %>
</div>