<div class="header">
  <h1 class="logo">Coffee Time</h1>
  <nav class="navbar">
    <%= link_to 'Home', "#home" %>
    <%= link_to 'About', "#menu" %>
  </nav>
  <div class="navigation-menu">
    menu
  </div>
</div>