<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= javascript_tag 'dashboard' %>
  </body>
</html>
